<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="To-Do" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Doing" tabIcon="stopwatch"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Done" tabIcon="done-all"></ion-tab>
</ion-tabs>
