<app-header><div style="display: inline">
  <ion-title float-left style="line-height:50px;border:1px solid #32db64">Schedules</ion-title>
  <ion-icon name="settings" float-right no-padding margin-right="5px" style="line-height:50px;font-size:4.0rem" (click)="showSettings()"></ion-icon>
</div></app-header>

<!-- <ion-header>
  <ion-navbar>
    <div style="display: inline">
      <ion-title float-left style="line-height:50px;border:1px solid #32db64">Schedules</ion-title>
      <ion-icon name="settings" float-right no-padding margin-right="5px" style="line-height:50px;font-size:4.0rem" (click)="showSettings()"></ion-icon>
    </div>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <ion-card-header class="scheduleme-tile" (click)="toggleAddTask()">
      Add Task
    </ion-card-header>
    <ion-card-content id="ionCardContent" *ngIf="showAddTaskContent" [@dropAnimation]>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-12>
            <ion-item id="ionItemTodo" no-padding>
              <ion-label floating>Task...</ion-label>
              <ion-input type="text" [(ngModel)]="todoItem.todoItem"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="ionItemDeadline" no-padding>
              <ion-label color="primary" (click)="showDatePicker()">{{deadlineText}}</ion-label>
            </ion-item>
            <ion-item id="ionItemDeadline" no-padding *ngIf="showDatePckr">
              <ion-calendar [options]="calendarComponentOptions" [(ngModel)]="todoItem.todoDeadline" [type]="string" [format]="'YYYY-MM-DD'" (onChange)="dateChanged($event)">
              </ion-calendar>
              <!-- <ion-datetime no-padding displayFormat="DD/MMM/YYYY" [(ngModel)]="todoItem.todoDeadline"></ion-datetime> -->
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-icon id="ionIcon1" *ngIf="!todoItem.todoItem" name="myapp-add-disabled" float-right padding-top="15px"></ion-icon>
            <ion-icon *ngIf="todoItem.todoItem?.length > 0" (click)="addItem()" name="myapp-add-enabled" float-right padding-top="15px"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="scheduleme-tile">
      Upcoming Tasks
    </ion-card-header>
    <ion-card-content *ngIf="todoList.length == 0">
      <ion-label>No items to-do</ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="todoList.length > 0">
      <ion-list>
        <items-list [todoList]="todoList" (selectedItem)="itemClicked($event)" (deadlineChanged)="deadlineChanged($event)" [itemRemoved]="itemRemoved"
          [itemMoved]="itemMoved"></items-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>