<app-header>Under Progress</app-header>
  <!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Under Progress
    </ion-title>
  </ion-navbar>
</ion-header>> -->



<ion-content>
  <ion-card>
    <ion-card-header class="scheduleme-tile">
      Doing
    </ion-card-header>
    <ion-card-content *ngIf="todoList.length == 0">
      <ion-label>No items</ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="todoList.length > 0">
      <ion-list>
        <items-list [todoList]="todoList" (selectedItem)="itemClicked($event)" [itemRemoved]="itemRemoved" [itemMoved]="itemMoved"></items-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>