// http://ionicframework.com/docs/theming/

@import '../theme/variables.scss';
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
    &[class*="myapp-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="myapp-add-enabled"] {
        background-color: green;
        mask-image: url(../assets/icon/add-enabled.svg);
    }
    &[class*="myapp-add-disabled"] {
        background-color: gray;
        mask-image: url(../assets/icon/add-disabled.svg);
    }
}

ion-backdrop{
    background-color: gray;
    opacity: 0.5;
}

.scheduleme-tile{
    color:white;
    background-color: color($colors, secondary);
}

.scheduleme-tabTheme{
    color:white;
    background-color: color($colors, primary);
}

ion-content button {
    color: color($colors, secondary) !important;
}

// button {
//     color: color($colors, primary) !important;
// }

.caution{
    color:red !important;
}

button.normal{
    color:black !important;
}

ion-content button.small{
    color: white !important;
    background-color: color($colors, secondary) !important;
    width:initial;
}

ion-navbar div{
    background-color: color($colors, primary) !important;
    color:white !important;
}

.scheduleme-item{
    border-bottom: 1px solid #dedede;
    margin:5px;
}

.scheduleme-toast{
    > div{
    background-color: color($colors, secondary) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    }
}

.scheduleme-menu{
    background-color: #f8f8f8;
    .xyz {
        border-left: 2px solid color($colors, primary);
    }

    .item {
        margin:5px;
    }

    .box{
        padding:5px;
    }

    .input{
        width:30px;
        border:0px;
        border-bottom: 1px solid;
        text-align: center;
        margin-left:5px;
        margin-right:5px;
    }
}

ion-menu table{
    margin-left:15px;
}

td.scheduleme-menu > p {
    line-height:2.0;
    font-size:1.5rem;
    margin:0px
}

td span {
    display:block;
    padding-left:5px;
}

td ion-item{
    margin-left:0px;
    padding-left:0px !important;
}

td ion-label{
    color:black !important;
}

td label.italicinfo{
    font-style:italic;
    font-size:1.3rem
}

ion-menu input,ion-datetime,ion-select{
    color: color($colors, primary) !important;
}

ion-content{
    margin-top:55px;
}
