<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-menu #menu [content]="mycontent" side="right" (ionClose)="menuClosed()">
  <ion-content class="scheduleme-menu xyz" no-margin>
    <ion-item class="scheduleme-menu item">
      <ion-label>Notifications</ion-label>
      <ion-toggle [(ngModel)]="enableNotifications" (ionChange)="notify()"></ion-toggle>
    </ion-item>

    <table>
      <th>
        <label>Reminder</label>
      </th>
      <tr>
        <td class="scheduleme-menu box">
          To-Do Items:
        </td>
      </tr>
      <tr>
        <td class="scheduleme-menu box">
          <p>
            <span>
              Remind
              <input type="number" [(ngModel)]="todoReminderDaysBefore" min="1" [attr.disabled]="!enableNotifications ? '' : null" class="scheduleme-menu input"
              /> days before deadline
            </span>
            <ion-item class="scheduleme-menu item">
              <ion-datetime style="flex:none" displayFormat="HH:mm" [(ngModel)]="todoReminderTime" disabled="{{!enableNotifications}}"
                class="scheduleme-menu"></ion-datetime>
              <ion-label style="flex:none">
                On each scheduled day at :
              </ion-label>
            </ion-item>
          </p>
        </td>
      </tr>
      <tr>
        <td class="scheduleme-menu box">
          Doing Items:
            <label class="italicinfo"> (Reminded every day)</label>
        </td>
      </tr>
      <tr>
        <td class="scheduleme-menu box">
          <ion-item class="scheduleme-menu item">
            <ion-label>
              Every day
            </ion-label>
            <ion-select [(ngModel)]="doingInterval" disabled="{{!enableNotifications}}">
              <ion-option value="1">Once</ion-option>
            </ion-select>

          </ion-item>
        </td>
      </tr>
    </table>
  </ion-content>
</ion-menu>