<div *ngFor="let item of todoList" class="scheduleme-item" (click)="itemClicked(item)" style="overflow:hidden" [@itemLeft]="{value:'x', params:{
                                                x_2: x_2,
                                                x_3: x_3,
                                                x_4: x_4
                                              }}">
  <!-- <ion-badge item-end>04/01/2019</ion-badge> -->
  <button ion-button clear>
    {{item.todoItem}}
  </button>
  <button ion-button round small class="small" float-right (click)="changeDeadline($event, item, dateTimeComponent)">{{item.todoDeadline ?  (item.todoDeadline | date) : 'No deadline'}}</button>
  <!-- <ion-datetime #dateTimeComponent no-padding displayFormat="DD/MMM/YYYY" hidden [(ngModel)]="changedDeadline" (ionChange)="dateChangedCallback($event, item)" ></ion-datetime> -->
  
</div>