<ion-header>
    <ion-navbar>
        <ion-title>
            Schedule Me
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-margin>
    <ion-card>
        <ion-card-header class="scheduleme-tile">
            Edit Task
        </ion-card-header>
        <ion-card-content id="ionCardContent">
            <ion-item>
                <ion-label floating>Task</ion-label>
                <ion-input disabled type="text" value="{{this.todoItem.todoItem}}"></ion-input>
            </ion-item>
            <ion-item id="ionItemDeadline">
                <ion-label color="secondary" (click)="showDatePicker()">{{this.todoItem.todoDeadline | date:"dd/MM/yy"}}</ion-label>
            </ion-item>
            <ion-item id="ionItemDeadline" no-padding *ngIf="showDatePckr">
                <ion-calendar [options]="calendarComponentOptions" [(ngModel)]="todoItem.todoDeadline" [type]="string" [format]="'YYYY-MM-DD'"
                    (onChange)="showDatePckr = false;">
                </ion-calendar>
            </ion-item>
            <ion-item margin-bottom>
                    <ion-label floating>Add Notes</ion-label>
                    <ion-textarea>{{this.todoItem.todoNotes}}</ion-textarea>
                </ion-item>
            <button ion-button color="secondary">Cancel</button>
            <button ion-button color="primary">Save</button>
        </ion-card-content>
    </ion-card>
</ion-content>